@import '~@fortawesome/fontawesome-free/css/all.css';

body {
  color: #000;
  overflow-x: hidden;
  height: 100%;
  background-repeat: no-repeat;
}

.card {
  z-index: 0;
  background-color: #f2ecff;
  padding-bottom: 20px;
  border-radius: 10px;
}

#progressbar {
  margin-bottom: 30px;
  overflow: hidden;
  color: #455a64;
  padding-left: 0;
  margin-top: 30px;
  li {
    list-style-type: none;
    font-size: 13px;
    width: 20%;
    float: left;
    position: relative;
    font-weight: 400;
  }
  .step0::before {
    font-family: FontAwesome;
    content: '\f10c';
    color: #fff;
  }
  li::before {
    width: 40px;
    height: 40px;
    line-height: 45px;
    display: block;
    font-size: 20px;
    background: #c5cae9;
    border-radius: 50%;
    margin: auto;
    position: relative;
    z-index: 1;
    padding: 0;
  }
  li::after {
    content: '';
    width: 100%;
    height: 12px;
    background-color: #c5cae9;
    position: absolute;
    top: 16px;
    left: 0;
    z-index: 0;
  }
  li:last-child::after {
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
    position: absolute;
    left: -50%;
  }
  li:nth-child(2)::after,
  li:nth-child(3)::after,
  li:nth-child(4)::after {
    left: -50%;
  }
  li:first-child::after {
    border-top-left-radius: 10px;
    border-bottom-right-radius: 10px;
    position: absolute;
    left: 50%;
  }
  li.active::before,
  li.active::after {
    background-color: #8083ff;
  }
  li.active::before {
    font-family: FontAwesome;
    content: '\f00c';
  }
}

.info-card {
  div {
    font-weight: 500;
    margin: 4px 0;
  }
  svg {
    margin-right: 0.5rem;
    width: 20px;
  }
}
